* {
  box-sizing: border-box;
}

body {
  --white: #ccc;
  --light-blue: hsl(200, 80%, 70%);
  --orange: hsl(23, 50%, 50%);
  --pink: hsl(300, 50%, 50%);
  --green: hsl(130, 50%, 60%);
  background: #333;
  color: var(--white);
  font-size: 32px;
}

h1, h2 {
  text-align: center;
  margin: auto;
}

iframe {
  width: 100vw;
  height: 100vh;
}

.reveal .slides {
  text-align: left;
}
.vertical {
  flex-direction: column;
}

.container {
  display: grid;
  grid-gap: 0;
  border: 4px solid var(--white);
  width: 80vw;
  margin: auto;
  grid-template-areas: 'h h h'
                       'm c c'
                       'f f f'
}
.container > * {
  border: 2px solid var(--white);
  padding: 5px 10px;
}
.container .header {
  grid-area: h;
  height: 50px;
}
.container .menu {
  grid-area: m;
}
.container .content {
  grid-area: c;
  min-height: 400px;
}
.container .footer {
  grid-area: f;
  height: 50px;
}

.example {
  margin-top: 100px;
}
.example div {
  display: block;
  border: 4px solid var(--white);
  min-width: 6ch;
  height: 6ch;
  margin: 10px;
  padding: 5px;
}
.example.small {
  align-items: center;
  border: 2px dashed var(--white);
  margin: 0;
}
.example.small.grid div {
  width: 100%;
  height: 100%;
}
.example.small div {
  width: 3ch;
  height: 3ch;
  min-width: 3ch;
  margin: 0;
}
.example div:nth-child(4n + 1) {
  background-color: red;
}
.example div:nth-child(4n + 2) {
  background-color: orange;
}
.example div:nth-child(4n + 3) {
  background-color: green;
}
.example div:nth-child(4n + 4) {
  background-color: blue;
}

.flow.example {
  outline: 2px dashed var(--white);
  position: fixed;
}

.style-options {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
}
.display-options, .dimensions {
  align-items: center;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-right: 50px;
}

.notes {
  display: none;
}

.slides section.present.header-footer {
  height: 80vh;
  outline: 4px dashed var(--white);
  padding: 0;
}
